### This is the code to tranform a CSV data file to html

In [2]:
import pandas as pd

In [8]:
csv_path = "resources/weather_df.csv"

weather_df = pd.read_csv(csv_path)
weather_df.head()

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Cloudiness (%),Humidity (%),Max Temp (F),Wind Speed (mph)
0,0,rikitea,PF,2021-01-24 15:43:16,-23.1203,-134.9692,0.0,67.0,80.312,4.19
1,1,atuona,PF,2021-01-24 15:43:16,-9.8000,-139.0333,8.0,77.0,78.386,6.40
2,2,hamilton,US,2021-01-24 15:42:34,39.1834,-84.5333,90.0,93.0,33.278,2.06
3,3,marfino,RU,2021-01-24 15:43:16,55.7028,37.3822,75.0,100.0,38.264,4.00
4,4,cortez,US,2021-01-24 15:43:16,37.3489,-108.5859,90.0,80.0,35.870,6.69

In [12]:
#weather_df = weather_df.set_index("0")
#weather_df

In [13]:
# convert the data file to an html file
weather_df.to_html('weather_cities.html')